<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Sarmad Jalil
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button (click)="openBrowser()">Open Browser</ion-button>
  <ion-button (click)="takePicture()">Take Picture</ion-button>
  <ion-button (click)="getContacts()">Take Picture</ion-button>
  <img [src]="image">
  <ion-list>
      <ion-item *ngFor="let item in contacts">
        {{item | json}}
        <ion-label>
          {{item.name.display}}
          <p>
            {{item.email.address[0]}}
          </p>
        </ion-label>
      </ion-item>
  </ion-list>
  {{permission | json }}
  {{contacts[0] | json}}


</ion-content>

